* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

body {
    font-family: poppins;
}

// theme

body {
    // white
    transition: all 0.5s;
    background: #cbd5e1;
    --card-color: #f9fafb;
    --dashboard-bg: #38bdf8;
    --header-bg: #f9fafb;
    --input-color: #cbd5e1;
    --dashboard-svg-fill: #f9fafb;
    --btn-bg: #38bdf8;
    --btn-color: #f9fafb;
}

body[dark] {
    background: #141516;
    --card-color: #414a54;
    --dashboard-bg: #073042;
    --header-bg: #414a54;
    --input-color: #4c4d4d;
    --dashboard-svg-fill: #adadad;
    --btn-bg: #a1a2a2;
    --btn-color: #000000;
    color: rgb(235, 235, 235);
}

/* utility */

.grid {
    display: grid;
}

.flex {
    display: flex;
}

svg {
    width: 40px;
    fill: --svg-color;
}

.btn {
    padding: 0.5rem 0px;
    width: 5rem;
    border-radius: 1rem;
    border: none;
    background-color: --btn-color;
    cursor: pointer;
    background: var(--btn-bg);
    color: var(--btn-color);
}

.title {
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

/* wrapper */

.wrapper {
    grid-template-columns: 1fr 5fr;
    position: relative;
}

.dashboard {
    padding: 1rem;
    align-content: start;
    gap: 4rem;
    height: 100vh;
    background: var(--dashboard-bg);
    color: var(--dashboard-svg-fill);
    position: sticky;
    top: 0px;
    z-index: 1;

    svg {
        fill: var(--dashboard-svg-fill);
    }

    > div {
        display: flex;
        align-items: center;
        height: 5rem;

        svg {
            width: 70px;
        }

        p {
            font-size: 1.2rem;
            font-weight: 600;
        }
    }

    ul {
        display: grid;
        gap: 1.5rem;
        padding-inline: 1rem;
        align-content: center;

        li {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            font-weight: 600;
        }
    }
}

.main {
    align-content: start;

    .header {
        box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.5);
        background: var(--header-bg);
        position: sticky;
        top: 0;

        .header-top {
            // background-color: aqua;
            padding: 1rem;
            padding-inline: 1rem;
            gap: 0.5rem;
            align-items: center;

            svg {
                width: 30px;
            }

            svg + input + svg {
                margin-left: auto;
            }

            input {
                border-radius: 1rem;
                font-size: 1rem;
                font-family: poppins;
                border: 0px;
                background-color: var(--input-color);
                outline: none;
                flex-grow: 0.5;
                padding: 0.2rem;
                padding-inline: 1rem;
                width: 100px;
                flex-shrink: 1;
            }

            @media screen and (max-width: 500px) {
                .input {
                    display: none;
                }
            }
        }

        .header-bottom {
            justify-content: space-between;
            align-items: center;
            padding: 1rem;

            .header-profile {
                grid-template-areas:
                    "img p"
                    "img h1";
                grid-template-rows: 1fr 2fr;
                gap: 0.8rem;
                row-gap: 0px;
                align-content: center;

                div {
                    background: url("./images/MIYKU.gif");
                    grid-area: img;
                    height: 60px;
                    aspect-ratio: 1;
                    background-size: cover;
                    background-position: center;
                    border-radius: 100vh;
                }

                p {
                    grid-area: p;
                    align-self: baseline;
                }

                h1 {
                    grid-area: h1;
                    line-height: 1.5rem;
                    font-size: 1.5rem;
                }
            }

            div:nth-child(2) {
                display: flex;
                align-items: center;
                gap: 2vw;
            }
        }
    }

    .menu {
        grid-template-columns: 2.5fr 1fr;

        .projects {
            padding: 1rem;

            div {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1.3rem;

                .project {
                    padding: 2rem;
                    padding-inline: 1rem;
                    background-color: var(--card-color);
                    display: grid;
                    grid-template-columns: 1fr;
                    border-radius: 1rem;
                    border-left: 0.5rem solid gray;
                    text-shadow: 0 0 1px #0000007c;

                    .title {
                        font-weight: 600;
                        font-size: 1.2rem;
                    }

                    :last-child {
                        display: flex;
                        justify-content: end;
                        gap: 1rem;

                        a {
                            svg {
                                width: 30px;
                                aspect-ratio: 1;
                            }
                        }
                    }
                }

                .project1 {
                    background: linear-gradient(120deg, var(--card-color), rgba(189, 180, 180, 0.801) 100%),
                        url("./images/sites/1.png");
                }

                .project2 {
                    background: linear-gradient(120deg ,var(--card-color), rgba(189, 180, 180, 0.801) 100%),
                        url("./images/sites/second.png");  
                }

                .project3 {
                    background: linear-gradient(120deg ,var(--card-color), rgba(189, 180, 180, 0.801) 100%),
                        url("./images/sites/3rd.png");  
                }

                .project4 {
                    background: linear-gradient(120deg ,var(--card-color), rgba(189, 180, 180, 0.801) 100%),
                        url("./images/sites/4th.png");  
                }

                .project5 {
                    background: linear-gradient(120deg ,var(--card-color), rgba(189, 180, 180, 0.801) 100%),
                        url("./images/sites/5th.png");  
                }

                .project6 {
                    background: linear-gradient(120deg ,var(--card-color), rgba(189, 180, 180, 0.801) 100%),
                        url("./images/sites/6th.png");  
                }

                .project {
                    background-size: cover;
                }
            }
        }

        .a-t {
            display: grid;
            align-content: start;
            padding: 1rem;

            .announcements {
                > div:nth-child(2) {
                    padding: 1rem;
                    background: var(--card-color);
                    border-radius: 1rem;

                    hr {
                        margin: 1rem 0;
                    }

                    .announcement > .title {
                        margin-bottom: 0.5rem;
                        font-size: 1rem;
                    }
                }
            }

            .social-profiles {
                .title {
                    margin-top: 1rem;
                }

                > div:nth-child(2) {
                    background: var(--card-color);
                    padding: 1rem;
                    border-radius: 1rem;
                    display: grid;
                    gap: 1rem;

                    hr {
                        margin: 0.01rem 0;
                    }

                    > a {
                        display: flex;
                        align-items: center;
                        gap: 0.8rem;

                        p {
                            font-weight: 600;
                            font-size: 0.9rem;
                        }
                    }
                }
            }
        }
    }
}

// animatiuon

.toggle-btn {
    transition: all 0.5s;
    transform: rotate(180deg);
}

.toggle-btn[dark] {
    transform: rotate(0deg);
}
