*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* display: flex;
  justify-content: space-around; */
  font-family: "Roboto", serif;
}

#app {
  max-width: 1200px;
  /* flex-grow: 1; */
  margin: auto;
  background-color: aliceblue;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

nav > ul {
  display: flex;
  list-style-type: none;
  gap: calc(.5rem + 1vw + 1rem);
}

.nav-logo {
  font-size: 1.5rem;
  font-weight: 600;
}

hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  min-height: fit-content;
  width: 100%;
  padding: 2rem 2rem;
}

.left-hero {
  display: flex;
  align-items: center;
}

.hero-content > h1 {
  margin-bottom: 2rem;
}

.right-hero {
  overflow: hidden;
  width: 100%;
  aspect-ratio: 5/3;
  position: relative;
}

.hero-banner {
  height: 100%;
  position: relative;
  /* background-color: red; */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: .2rem;
  position: relative;
}

.right-hero-comment {
  position: absolute;
  bottom: .5rem;
  left: 50%;
  transform: translateX(-50%);
}

[class^="bar-"] {
  background-color: green;
  height: 100%;
  position: relative;
  top: -20%;
  transition: .5s all;
}

[class^="bar-"]:hover {
  transform: rotateZ(2deg) scale(150%);
  border: 2px solid white;
  z-index: 99;
}