*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* display: flex;
  justify-content: space-around; */
  font-family: "Roboto", serif;
}

#app {
  max-width: 1600px;
  /* flex-grow: 1; */
  margin: auto;
  background-color: aliceblue;
}

header {
  width: 100%;
  padding: 2rem;
}

.h-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subtitle {
  margin-top: .5rem;
}

nav > ul {
  display: flex;
  list-style-type: none;
  gap: calc(.5rem + 1vw + 1rem);
}

.nav-logo {
  font-size: 3rem;
  font-weight: 600;
}


hr{
  margin: 2rem;
  margin-bottom: 4rem;
}

/* projects main section */

#projects-main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

#projects-main .left{
  background-color:rgba(49, 49, 49, 0.247);
  margin: .5rem;
  border-radius: .5rem;
}

#projects-main .left li {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 1rem 1rem;
  gap: 1rem;
}

.hidden-image{
  display: none;
}